@import url('https://fonts.google.com/specimen/PT+Serif');

html, body {
  width: 100%;
  height: 100%;
  font-family: 'PT Serif';
  font-size: 28px;
  color: #222;
}
.container-fluid{
  margin-top: 2rem;
}
.navbar {
  background-color: rgba(223,0,41,0.9) !important;
  height: 3rem;
}
.navbar li a {
    color: white !important;
}
.navbar li a:hover {
    color: black !important;
}
.carousel-inner img {
  width: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  color:white;
}
.carousel-caption h1 {
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px black;
  border: 1rem;
}
.carousel-caption h3 {
  font-size: 200%;  
  text-shadow: 2px 2px 10px #000;
}
.jumbotron{
  padding: 2rem;
  border: 3rem;
}
.btn-danger {
  background-color: red;
  border: 1px solid white;
}
.btn-danger:hover {
  background-color: black;
  border: 1px solid white;
}
.welcome hr {
  border-top: 2px solid rgba(62,44,100, 0.6);
  width: 95%; 
  margin-bottom: 2rem;
}
.fa-facebook {
  color: #81D8F7;
}
.fa-instagram {
  color: red;
}
.fa-twitch {
  color: blue;
}
.fa-facebook, .fa-instagram, .fa-google-plus-g,.fa-twitter, .fa-youtube {
  font-size: 1rem;
  margin: 1rem;
}

.social a {
  font-size: 2em;/*1em = 16px*/
  padding: 2rem;/*1rem = 1 "font-size" */
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced; 
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}
footer {
  background-color: #3f3f3f ;
  color: #d5d5d5;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}
.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}
.card-img-top{
  width: 475px;
  height: 300px;
}
.card-title{
  color: white;
}
.card-text{
  color: white;
}
.card{
  background: black;
}
@media (max-width: 768px){  
  .carousel-caption {
    top: 50%;
  }
  .carousel-caption h1{
    font-size: 220%;
  }
  .carousel-caption .btn{   
    font-size: 95%;
    padding: 14px 14px;
  }
}
@media (max-width: 576px){
  .carousel-caption {
    top: 30%;
  }
  .carousel-caption h1{
    font-size: 150%;
  }
  .carousel-caption .btn {    
    font-size: 90%;
    padding: 8px 14px;
  } 
}
@media (max-width: 1000px){
  .carousel-caption {
    top: 30%;
  }
  .carousel-caption h1{
    font-size: 200%;
  }
  .carousel-caption .btn {    
    font-size: 70%;
    padding: 8px 14px;
  } 
}